<html>
  <head>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
     <% if (locals.title) { %>
       <title><%= title %></title>
     <% } else { %>
       <title>YQParse</title>
     <% } %>
     <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
     <script src="/javascripts/backbone.js"></script>
     <script src="https://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
     <script>
       Parse.initialize("aAo4oD5fmt99uTGNSOonhxi8zDbKWEhmB4NJKYjj", "NhjDgCy4Rov1CSoCclGHoxM28ADYHLnN4GehORxs");
     </script>
     <script type="text/javascript" src="/javascripts/main.js"></script>
     <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
    <script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
    <script>ZiggeoApi.token = "a269d083fb19f7ae1ace30f9c1dfdaf0";</script>


  </head>

  <body>
    <div id="content">
      <div id="bar">
        <a class="logo" href="/">
          <h1>Leaftagger</h1>
        </a>
      
        <ul class="right">
        <% if (!Parse.User.current()) { %>
          <li>
            <a href="/">Share an image</a>
            | <a href="/i/latest">Latest</a>
            | <a href="/login">Login</a>
            | <a href="/signup">Signup</a>
          </li>
        <% } else { %>
          <li>
            <a href="/i/mine"><%= Parse.User.current().get('username') %></a>
            | <a href="/">Share an image</a>
            | <form action="/logout" method="post">
              <a href="#" data-action="post">Logout</a>
            </form>
          </li>
        <% } %>
        </ul>
      </div>
    <div>
        <ziggeo></ziggeo>
    </div>

    <!--
      <div id="main">
        <% if (locals.flash) { %>
          <div class="flash"><%= flash %></div>
        <% } %>
        
        <%- body %>
      </div>
    -->
    </div>




  </body>
</html>
  
