<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Please to UX hello Communication.</h1>
    <p><%= message %></p>

  <form method="get" action="/logout">
    <p>
      <input class="button" type="submit" value="Log Out">
    </p>
  </form>


  </body>
</html>